<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select JSON Data</title>
  </head>
  <body>
    <h1>Select JSON File</h1>
    <form
      id="dxfForm"
      action="/plotlyfile"
      method="POST"
      enctype="multipart/form-data"
    >
      <label for="dxfFiles">Choose a json file:</label>
      <select id="dxfFiles" name="json_file" required></select
      ><br /><br />
      <input type="submit" value="Process" />
    </form>

    <script>
      // Fetch the list of .dxf files from the server
      fetch("/getJsonFiles")
        .then((response) => response.json())
        .then((data) => {
          const select = document.getElementById("dxfFiles");
          data.forEach((filename) => {
            const option = document.createElement("option");
            option.value = filename;
            option.text = filename;
            select.appendChild(option);
          });
        });
    </script>
  </body>
</html>
