<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DXF Upload</title>
  </head>
  <body>
    <h1>Upload DXF File</h1>
    <form action="/uploadCAD" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" required /><br />
      <!-- Layer Name: <input type="text" name="layer_name" required /><br /> -->
      <!-- OutputFile Name:
      <input type="text" name="output_json_file" required /><br /> -->
      <input type="submit" value="Upload" />
    </form>
    <form action="/choose_dxf">
      <input type="submit" value="Choose dxf instead"></button>
    </form>
    <form action="/choose_json">
      <input type="submit" value="Choose json instead"></button>
    </form>
  </body>
</html>
